﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u2 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:13px;
  top:48px;
  width:267px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:222px;
  top:51px;
  width:15px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:259px;
  top:51px;
  width:10px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:24px;
  top:51px;
  width:15px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:44px;
  top:51px;
  width:15px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:241px;
  top:54px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:199px;
  top:51px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:12px;
  top:262px;
  width:268px;
  height:238px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:238px;
}
#u18 {
  position:absolute;
  left:2px;
  top:111px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:13px;
  top:70px;
  width:267px;
  height:200px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:200px;
}
#u20 {
  position:absolute;
  left:2px;
  top:92px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:256px;
  width:210px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:40px;
  top:240px;
  width:100px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:320px;
  width:210px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
}
#u26 {
  position:absolute;
  left:2px;
  top:11px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:40px;
  top:304px;
  width:100px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:75px;
  top:368px;
  width:140px;
  height:38px;
  font-size:14px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
}
#u30 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:40px;
  top:456px;
  width:22px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:47px;
  top:467px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:62px;
  top:456px;
  width:188px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
}
#u36 {
  position:absolute;
  left:2px;
  top:11px;
  width:184px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:440px;
  width:210px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#CCCCCC;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
