<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <a href="#" class="btn btn-primary btn-lg btn-block" type="button">Prijem donacije</a> 
			 <a href="#" class="btn btn-primary btn-lg btn-block" type="button">Evidencija izlaza</a> 
			 <a href="#" class="btn btn-primary btn-lg btn-block" type="button">Prijava volontera</a> 
			 <a href="#" class="btn btn-primary btn-lg btn-block" type="button">Zaduzenja volontera</a> 
			 <a href="#" class="btn btn-primary btn-lg btn-block" type="button">Poruke</a> 
		</div>
	</div>
</div>
