<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
					<input placeholder="Korisnicko ime" type="email" class="form-control" id="InputKorisnickoIme" />
				</div>
				<div class="form-group">
					<input placeholder="Lozinka" type="password" class="form-control" id="InputLozinka" />
				</div>
				<div class="form-group">
					<!-- Redirekcija na stranicu gdje ce korisnik da submituje svoju e-mail adresu -->
					<a href="#" class="btn btn-lg" type="button">Zaboravili ste lozinku?</a> 
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
			</form>
		</div>
	</div>
</div>