<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
					 <input placeholder="Ime" class="form-control" id="inputIme" type="text" >
				</div>
				<div class="form-group">
					 <input placeholder="Prezime" class="form-control" id="inputPrezime" type="text" >
				</div>
				<div class="form-group">
					 <input placeholder="Telefon" class="form-control" id="inputTelefon" type="text" >
				</div>
				<div class="form-group">
					<div class="btn-group">
						<button class="btn btn-default">Kategorija</button> 
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> 
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Action</a>
							</li>
							<li class="disabled">
								<a href="#">Another action</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					 <input placeholder="e-mail adresa" type="email" class="form-control" id="InputEmail1" />
				</div>
				<div class="checkbox">
					 <label><input type="checkbox" /> Rad prije podne</label>
				</div> 
				<div class="checkbox">
					 <label><input type="checkbox" /> Rad poslije podne</label>
				</div> 
				<button type="submit" class="btn btn-default">Registruj</button>
			</form>
			
		</div>
	</div>
</div>