<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
                    <input placeholder="Ime" class="form-control" id="inputIme" type="text" >
				</div>
				<div class="form-group">
					<input placeholder="Prezime" class="form-control" id="inputPrezime" type="text" >
				</div>
				<div class="form-group">
					<div class="row clearfix">
						<div class="col-md-6 column">
							<div class="btn-group">
								 <button class="btn btn-default">Kategorije</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Action</a>
									</li>
									<li class="disabled">
										<a href="#">Another action</a>
									</li>
									<li class="divider">
									</li>
									<li>
										<a href="#">Something else here</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 column">
		                    <input placeholder="Kolicina" class="form-control" id="inputIme" type="text" >
						</div>
			</div>
				</div>
				<div class="form-group">
					<button class="btn btn-default">Dodaj</button> 
				</div>
				<button type="submit" class="btn btn-default btn-block">Sacuvaj</button>
			</form>
		</div>
	</div>
</div>
