﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:293px;
  height:550px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u2 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:13px;
  top:58px;
  width:267px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:222px;
  top:61px;
  width:15px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:259px;
  top:61px;
  width:10px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:24px;
  top:61px;
  width:15px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:44px;
  top:61px;
  width:15px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:241px;
  top:64px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:199px;
  top:61px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:14px;
  top:79px;
  width:266px;
  height:41px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:245px;
  top:87px;
  width:25px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:24px;
  top:87px;
  width:16px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:88px;
  width:90px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:24px;
  top:272px;
  width:244px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:38px;
}
#u26 {
  position:absolute;
  left:2px;
  top:11px;
  width:240px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:244px;
  top:272px;
  width:26px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:38px;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:253px;
  top:277px;
  width:8px;
  height:10px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:253px;
  top:294px;
  width:8px;
  height:10px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:24px;
  top:130px;
  width:246px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:38px;
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:242px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:50px;
  top:320px;
  width:218px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:38px;
}
#u36 {
  position:absolute;
  left:2px;
  top:11px;
  width:214px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:24px;
  top:320px;
  width:26px;
  height:38px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:38px;
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:22px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:24px;
  top:370px;
  width:26px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:38px;
}
#u40 {
  position:absolute;
  left:2px;
  top:11px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:32px;
  top:380px;
  width:18px;
  height:16px;
  font-size:14px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:50px;
  top:370px;
  width:218px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:38px;
}
#u44 {
  position:absolute;
  left:2px;
  top:11px;
  width:214px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:24px;
  top:178px;
  width:246px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:38px;
}
#u46 {
  position:absolute;
  left:2px;
  top:11px;
  width:242px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:24px;
  top:468px;
  width:244px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:38px;
}
#u48 {
  position:absolute;
  left:2px;
  top:11px;
  width:240px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:24px;
  top:224px;
  width:246px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:38px;
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:242px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:24px;
  top:418px;
  width:26px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:38px;
}
#u52 {
  position:absolute;
  left:2px;
  top:11px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:32px;
  top:428px;
  width:18px;
  height:16px;
  font-size:14px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:50px;
  top:418px;
  width:218px;
  height:38px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:38px;
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:214px;
  word-wrap:break-word;
}
