﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:293px;
  height:550px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u2 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:13px;
  top:58px;
  width:267px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:222px;
  top:61px;
  width:15px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:259px;
  top:61px;
  width:10px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:24px;
  top:61px;
  width:15px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:44px;
  top:61px;
  width:15px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:241px;
  top:64px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:199px;
  top:61px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:14px;
  top:79px;
  width:266px;
  height:41px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:245px;
  top:87px;
  width:25px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:24px;
  top:87px;
  width:16px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:88px;
  width:90px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:24px;
  top:226px;
  width:125px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u26 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:137px;
  top:226px;
  width:13px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:38px;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:141px;
  top:231px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:141px;
  top:248px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:24px;
  top:130px;
  width:246px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:38px;
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:242px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:24px;
  top:178px;
  width:246px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:38px;
}
#u36 {
  position:absolute;
  left:2px;
  top:11px;
  width:242px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:24px;
  top:468px;
  width:244px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:38px;
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:240px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:160px;
  top:226px;
  width:110px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u40 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:24px;
  top:268px;
  width:125px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u42 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:137px;
  top:268px;
  width:13px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:38px;
}
#u44 {
  position:absolute;
  left:2px;
  top:11px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:141px;
  top:273px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:141px;
  top:290px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:160px;
  top:268px;
  width:110px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:24px;
  top:310px;
  width:125px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u52 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:137px;
  top:310px;
  width:13px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:141px;
  top:315px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:141px;
  top:332px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:160px;
  top:310px;
  width:110px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u60 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:24px;
  top:352px;
  width:125px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u62 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:137px;
  top:352px;
  width:13px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:38px;
}
#u64 {
  position:absolute;
  left:2px;
  top:11px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:141px;
  top:357px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:141px;
  top:374px;
  width:4px;
  height:10px;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:160px;
  top:352px;
  width:110px;
  height:38px;
  font-size:14px;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u70 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:24px;
  top:400px;
  width:30px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:36px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:42px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
