﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:293px;
  height:550px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u2 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:13px;
  top:58px;
  width:267px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:222px;
  top:61px;
  width:15px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:259px;
  top:61px;
  width:10px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:24px;
  top:61px;
  width:15px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:44px;
  top:61px;
  width:15px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:241px;
  top:64px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:199px;
  top:61px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:20px;
  top:88px;
  width:120px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:290px;
  width:250px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:226px;
  top:310px;
  width:34px;
  height:19px;
  font-size:11px;
  color:#0099FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:20px;
  top:360px;
  width:250px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:226px;
  top:380px;
  width:34px;
  height:19px;
  font-size:11px;
  color:#0099FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:20px;
  top:430px;
  width:250px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:226px;
  top:450px;
  width:34px;
  height:19px;
  font-size:11px;
  color:#0099FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:220px;
  width:250px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:226px;
  top:240px;
  width:34px;
  height:19px;
  font-size:11px;
  color:#0099FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:150px;
  width:250px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:226px;
  top:170px;
  width:34px;
  height:19px;
  font-size:11px;
  color:#0099FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:230px;
  top:86px;
  width:40px;
  height:35px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:238px;
  top:92px;
  width:25px;
  height:25px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
